.diversity-hero {
  height: 100vh;

  &-title {
      position: relative;
      top: 70vh;
      left: 50px;
      word-wrap: break-word;
      color: white;
      letter-spacing: 3px;
      font-weight: bold;

      .title {
          opacity: 0;
          transition: transform 1s;
          transform: translate(0, 100vh);
      }

      .visible-title1 {
          opacity: 1;
          transition: transform 1s;
          transform: translate(0, 0);
      }
  }
}

.diversity-mission {
  background-color: $gray-color3;

  & .content {
    color: $warning-color;
  }

  position: relative;
  &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100vw;
      height: 50%;
      z-index: 0;
      background: url('../images/topo-white.svg') no-repeat 50%;
      background-size: cover;
      opacity: .1;
      top: 0;
  }
}

.diversity-service {
  background-color: $gray-500;
  & .moanica {
    width: 250px;
    height: 250px;
  }
}

.diversity-commitment {
  background-color: white;

  &-bar {
      z-index: 20;
      width: 3px;
      height: 150px;
      background-color: $danger-color;
  }

  &-bargroup {
      &-first {
          position: relative;
          z-index: 20;
          width: 3px;
          height: 200px;
          background-color: $danger-color;
      }
  
      &-second {
          position: relative;
          z-index: 20;
          top: 191px;
          left: -5px;
          width: 25px;
          height: 3px;
          background-color: $danger-color;
          transform: rotate(-45deg);
      }
  
      &-third {
          position: relative;
          z-index: 20;
          top: 183px;
          left: -10px;
          width: 3px;
          height: 40px;
          background-color: $danger-color;
      }
  }

  &-content {
      & .title {
        z-index: 20;
        color: $danger-color;

        opacity: 0;
        transition: transform 2s;
        transform: translate(-300px, 40px);
      }

      & .title-animation {
        opacity: 1;
        transform: translate(0 ,40px);
      }

      & .description {
        opacity: 0;
        transition: transform 2s;
        transform: translate(-50%, 0);
      }

      & .text-animation {
        opacity: 1;
        transform: translate(0 , 0);
      }
  }
}

.diversity-together {
  background-color: $gray-color3;

  & .image-together {
    width: 100%;
    height: 100%;
  }
}

.diversity-supplier {
  background-color: white;

  & .title {
    color: $danger-color;
  }
}

.diversity-partnership {
  position: relative;
  z-index: 10;

  & .partner-image {
    width: 80%;
    height: auto;
  }
}

.diversity-community {
  background-color: $gray-color2;
  transform: translateY(-20%);

  & .description {
    background-color: white;
    border-left: 2px solid $danger-color;
  }

  & .logo {
    width: 100%;
    height: 100%;
  }
}

.diversity-newsreport {
  & .description {
    transform: translateY(-90px);

    & .title {
      color: $danger-color;
    }
  }

  & .imagecard {
    height: 300px;
  }

  & .news-container {
    .tag {
        opacity: 0;
        transition: transform 1.5s;
        transform: translate(0, 50vh);
        border-left: 3px solid $danger-color;
    }
        
    .visible-tag1 {
        opacity: 1;
        transition: transform 1.5s;
        transform: translate(0, 0);
    }

    .visible-tag2 {
        opacity: 1;
        transition: transform 2s;
        transform: translate(0, 0);
    }

    .visible-tag3 {
        opacity: 1;
        transition: transform 2.5s;
        transform: translate(0, 0);
    }
  }
}

.diversity-metric {
  background-color: $warning-color;
}